{{ 'product-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-card.js' | asset_url }}" defer></script>




<product-card class="card product-card">
  <script>
    console.log({{ product.media[1].src | json }});
  </script>
  <div class="card__top">
    <a href="{{ product.url }}">
      <img class="card__top__image"
        src="
          {% if product.selected_or_first_available_variant.featured_image.size > 0 %}
            {{ product.selected_or_first_available_variant.featured_image | img_url: 'master' }}
            {% else %}
            {{ product.featured_image | img_url: 'master' }}
          {% endif %}
        "
        alt="{{ product.title }}"
      >
      <img class="card__top__image--hover"
        src="
          {% if product.selected_or_first_available_variant.featured_image.size > 1 %}
            {{ product.media[1] | img_url: 'master' }}
            {% else %}
            {{ product.featured_image | img_url: 'master' }}
          {% endif %}
        "
        alt="{{ product.title }}"
      >
    </a>
  </div>
  <div class="card__bottom">
          <div class="card__bottom__info">
            <span class="card__bottom__info--title">
              {{ product.title }}
            </span>
            <span class="card__bottom__info--material">
                {% if product.options_by_name['Material'].values %}
                  <span>{{ product.options_by_name['Material'].values }}</span>
                  {% else %}
                    <span>Other</span>
                {% endif %}
            </span>
          </div>
          <div class="card__bottom__details">
            <span class="card__bottom__details--price">
              {{ product.price |  money }}
            </span>
            {% if product.options_by_name['Color'].values %}
              <span class="card__bottom__details--color" style="background-color: {{ product.options_by_name['Color'].values }};">
            {% endif %}
            </span>
          </div>
  </div>
</product-card>
